.admincontainer{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 10vw);

    background-color: lightblue;
    
}

.admincontainergridposition{
    grid-row: 2 / 7;
    grid-column: 3 / 11;
    padding-top: 10px;
}


.adminbarchartuser {
    grid-row: 7 / 11;
    grid-column: 3 / 7;

    background-color: aqua;
}

.adminbarchartpost {
    grid-row: 7 / 11;
    grid-column: 7 / 11;

    background-color: red;
}

